@charset "utf-8";
/* CSS document  evaluation Mohammed-Tarek Benkherouf : LOCATION VOITURE*/

header{
    background: url(../imgs/background.jpg) no-repeat;
    background-repeat:no-repeat;
    background-size: 100%;  
    height: 530px;
}

.resultats{
    font-size: 2em;
}
* {
	box-sizing: border-box;
}

.menu{
	float: right;
}

.image_agence {
    float: left; 
}

.adresse{
    margin-left: 35%;
}